<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>⇪Caps lock</string>
		<key>shortcut</key>
		<string>cap</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌘Command</string>
		<key>shortcut</key>
		<string>cmd</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌃Control</string>
		<key>shortcut</key>
		<string>ctrl</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌫Delete</string>
		<key>shortcut</key>
		<string>del</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⎋Esc</string>
		<key>shortcut</key>
		<string>esc</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⌥Option</string>
		<key>shortcut</key>
		<string>opt</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↩Return</string>
		<key>shortcut</key>
		<string>ret</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇧Shift</string>
		<key>shortcut</key>
		<string>shift</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇥Tab</string>
		<key>shortcut</key>
		<string>tab</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>→</string>
		<key>shortcut</key>
		<string>xxx</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>←</string>
		<key>shortcut</key>
		<string>xxx</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↑</string>
		<key>shortcut</key>
		<string>xxx</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↓</string>
		<key>shortcut</key>
		<string>xxx</string>
	</dict>
</array>
</plist>
