<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Panels</key>
	<dict>
		<key>USER.389CB4F1-17E6-4044-889B-E457EF21F8B7</key>
		<dict>
			<key>AssociatedApplications</key>
			<array>
				<dict>
					<key>ApplicationBundleID</key>
					<string>com.apple.QuickTimePlayerX</string>
					<key>ApplicationDisplayName</key>
					<string>QuickTime Player.app</string>
					<key>ApplicationPath</key>
					<string>/Applications/QuickTime Player.app</string>
				</dict>
			</array>
			<key>DisplayOrder</key>
			<integer>1</integer>
			<key>GlidingLensSize</key>
			<integer>5</integer>
			<key>HasTransientPosition</key>
			<false/>
			<key>HideHome</key>
			<false/>
			<key>HideMinimize</key>
			<false/>
			<key>HidePanelAdjustments</key>
			<false/>
			<key>HideSwitchDock</key>
			<false/>
			<key>HideSwitchDockContextualButtons</key>
			<false/>
			<key>HideTitlebar</key>
			<false/>
			<key>ID</key>
			<string>USER.389CB4F1-17E6-4044-889B-E457EF21F8B7</string>
			<key>Name</key>
			<string>QuickTime</string>
			<key>PanelObjects</key>
			<array>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>Events</key>
								<array>
									<dict>
										<key>ActionParam</key>
										<dict>
											<key>KeyboardHWID</key>
											<integer>49</integer>
											<key>MacKeyCode</key>
											<integer>45</integer>
											<key>Modifiers</key>
											<integer>1442059</integer>
											<key>UsesMacKeyCode</key>
											<true/>
										</dict>
										<key>ActionRecordedOffset</key>
										<real>4</real>
										<key>ActionType</key>
										<string>ActionPressKeyCode</string>
										<key>ID</key>
										<string>Action.8E9413C4-2F07-46D2-A5FE-10D49BFD0C36</string>
									</dict>
								</array>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPerformKeyMacro</string>
							<key>ID</key>
							<string>Action.5BDE2FEE-0787-42F5-B23D-D0C5AFE53210</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayText</key>
					<string>录制声音</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>12</real>
					<key>ID</key>
					<string>Button.A617F3FF-9BF8-442A-A7CD-5C9BCFC2FDF7</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{0, 0}, {155, 40}}</string>
					<key>SpokenDescription</key>
					<string>录制声音</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>Events</key>
								<array>
									<dict>
										<key>ActionParam</key>
										<dict>
											<key>KeyboardHWID</key>
											<integer>49</integer>
											<key>MacKeyCode</key>
											<integer>45</integer>
											<key>Modifiers</key>
											<integer>1310985</integer>
											<key>UsesMacKeyCode</key>
											<true/>
										</dict>
										<key>ActionRecordedOffset</key>
										<real>3</real>
										<key>ActionType</key>
										<string>ActionPressKeyCode</string>
										<key>ID</key>
										<string>Action.FC8D3035-FBB6-4235-91CA-E16B08CF9358</string>
									</dict>
								</array>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPerformKeyMacro</string>
							<key>ID</key>
							<string>Action.A86D6AC0-C6B8-4170-A016-7DC8E8F73F55</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayText</key>
					<string>录制屏幕</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>12</real>
					<key>ID</key>
					<string>Button.44D9D4A4-F0C2-4FB0-A7A5-620554A74DAD</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{0, 45}, {155, 40}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>Events</key>
								<array>
									<dict>
										<key>ActionParam</key>
										<dict>
											<key>KeyboardHWID</key>
											<integer>49</integer>
											<key>MacKeyCode</key>
											<integer>45</integer>
											<key>Modifiers</key>
											<integer>1573160</integer>
											<key>UsesMacKeyCode</key>
											<true/>
										</dict>
										<key>ActionRecordedOffset</key>
										<real>0.0</real>
										<key>ActionType</key>
										<string>ActionPressKeyCode</string>
										<key>ID</key>
										<string>Action.58BF04E3-357C-4BE4-B272-EC781C2F39F3</string>
									</dict>
								</array>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPerformKeyMacro</string>
							<key>ID</key>
							<string>Action.92D6F765-403A-4B26-87F1-8B1FBB5830CF</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayText</key>
					<string>录制视频</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>12</real>
					<key>ID</key>
					<string>Button.272C38F1-C936-436C-A08D-FE7DF44E1A9B</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{0, 90}, {155, 40}}</string>
				</dict>
			</array>
			<key>ProductSupportType</key>
			<integer>0</integer>
			<key>Rect</key>
			<string>{{60, 125}, {165, 140}}</string>
			<key>ScanStyle</key>
			<integer>0</integer>
			<key>ShowPanelLocation</key>
			<integer>1</integer>
			<key>UsesPinnedResizing</key>
			<false/>
		</dict>
		<key>USER.977D8A9A-7C5D-4921-AA4B-6581CDAC7F4E</key>
		<dict>
			<key>AssociatedApplications</key>
			<array>
				<dict>
					<key>ApplicationBundleID</key>
					<string>com.apple.Terminal</string>
					<key>ApplicationDisplayName</key>
					<string>终端.app</string>
					<key>ApplicationPath</key>
					<string>/Applications/Utilities/Terminal.app</string>
				</dict>
			</array>
			<key>DisplayOrder</key>
			<integer>2</integer>
			<key>GlidingLensSize</key>
			<integer>5</integer>
			<key>HasTransientPosition</key>
			<false/>
			<key>HideHome</key>
			<false/>
			<key>HideMinimize</key>
			<false/>
			<key>HidePanelAdjustments</key>
			<false/>
			<key>HideSwitchDock</key>
			<false/>
			<key>HideSwitchDockContextualButtons</key>
			<false/>
			<key>HideTitlebar</key>
			<false/>
			<key>ID</key>
			<string>USER.977D8A9A-7C5D-4921-AA4B-6581CDAC7F4E</string>
			<key>Name</key>
			<string>Terminal</string>
			<key>PanelObjects</key>
			<array>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>pmset displaysleep</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.3AD1BA9A-D092-40F3-8AB4-2B9578586A8B</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayText</key>
					<string>阻止屏幕休眠</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>12</real>
					<key>ID</key>
					<string>Button.A617F3FF-9BF8-442A-A7CD-5C9BCFC2FDF7</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{0, 0}, {155, 40}}</string>
					<key>SpokenDescription</key>
					<string>录制声音</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>defaults delete com.apple.dock; killall Dock</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.CF070367-0ABD-4B64-B173-17E1D61D3631</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayText</key>
					<string>恢复 Dock</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>12</real>
					<key>ID</key>
					<string>Button.44D9D4A4-F0C2-4FB0-A7A5-620554A74DAD</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{0, 45}, {155, 40}}</string>
				</dict>
				<dict>
					<key>Actions</key>
					<array>
						<dict>
							<key>ActionParam</key>
							<dict>
								<key>CharString</key>
								<string>killall Finder</string>
								<key>isStickyKey</key>
								<false/>
							</dict>
							<key>ActionRecordedOffset</key>
							<real>0.0</real>
							<key>ActionType</key>
							<string>ActionPressKeyCharSequence</string>
							<key>ID</key>
							<string>Action.FAFE8CD1-0762-4D99-B9D1-078D9D9D0924</string>
						</dict>
					</array>
					<key>ButtonType</key>
					<integer>0</integer>
					<key>DisplayColor</key>
					<string>0.145 0.145 0.145 1.000</string>
					<key>DisplayText</key>
					<string>恢复 Finder</string>
					<key>DisplayTheme</key>
					<string>DisplayThemeDefault</string>
					<key>FontSize</key>
					<real>12</real>
					<key>ID</key>
					<string>Button.272C38F1-C936-436C-A08D-FE7DF44E1A9B</string>
					<key>PanelObjectType</key>
					<string>Button</string>
					<key>Rect</key>
					<string>{{0, 90}, {155, 40}}</string>
				</dict>
			</array>
			<key>ProductSupportType</key>
			<integer>0</integer>
			<key>Rect</key>
			<string>{{0, 0}, {155, 130}}</string>
			<key>ScanStyle</key>
			<integer>0</integer>
			<key>ShowPanelLocation</key>
			<integer>1</integer>
			<key>UsesPinnedResizing</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
